<!DOCTYPE html>
<html lang="en">
<head>
  <title>Watch and Chat</title>
  <link rel="stylesheet" href="session.css">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
  

  

  <header>
    <h1>Watch and Chat</h1>
  </header>

  <div class="search">
    <input class="seachBar" name="videoUrl" type="text" id="videoUrl" placeholder="youtube video link"/>
  </div>
  <div class="searchBtnCont">
    <button class="searchBtn" onclick="loadVideo()">Load Video</button>
  </div>
  
  <div id="player" class="player"></div>

  <div id="player"></div>
  
  <script type="text/javascript">
    var tag = document.createElement('script');
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: 'M7lc1UVf-VE',
        events: {
          'onStateChange': onPlayerStateChange
        }
      });
    }

    changing = false
    function onPlayerStateChange(event) {
        console.log(event.data);
      if ((event.data == 1 || event.data == 2) && !changing) {
        let time = getSec();
        socket.emit( 'videoChange', {
            time: time,
            state: event.data
        })
        console.log("Hey")
      }
    }
    
    function playfrom(start) {
      player.seekTo(start, true)
      changing = true;
      player.playVideo();
      setTimeout(() => {
          changing = false;
      }, 1000);
    }

    function getSec() {
        return Math.round(player.getCurrentTime()*100)/100;
    }

    function loadVideo() {

      var x = document.getElementById("videoUrl").value;
      console.log(x.split("v=")[1].substring(0, 11))


      socket.emit( 'linkChange', {
        videoId: x.split("v=")[1].substring(0, 11)
      })

      player.loadVideoById({
        videoId: x.split("v=")[1].substring(0, 11),
        startSeconds: 0
      });
    }
    alreadyconnected = false
    socket.on( 'connect', () => {
      console.log("Hey");
      if (!alreadyconnected){
        socket.emit( 'requestVideo', {
          data:"User Connected"
        })
        alreadyconnected = true
      }
    })

    socket.on( 'getVideo', () => {
      let x = getSec()
      socket.emit( 'returnVideo', {
        videoLink: player.getVideoUrl().split("v=")[1].substring(0, 11),
        time: x
      })
    })

    socket.on( 'updateVideo', (newvideo) => {
      if (newvideo.videoLink !== "M7lc1UVf-VE"){
        player.loadVideoById({
          videoId:newvideo.videoLink
        })
      }
      playfrom(newvideo.time)
    })

    socket.on( 'changeVideo', (change) => {
        if (change.state == 1) { 
            playfrom(change.time);
        } else if (change.state == 2) {
            player.pauseVideo();
        }
    } )

    socket.on( 'changeLink', (change) => {
      console.log(change.videoId)
      player.loadVideoById({
        videoId: change.videoId,
        startSeconds: 0
      });
    })

    //Function to load desired video
    function loadVideo() {

      var x = document.getElementById("videoUrl").value;
      console.log(x.split("v=")[1].substring(0, 11))

      player.loadVideoById({
        videoId: x.split("v=")[1].substring(0, 11),
        startSeconds: 0
      });

    }

  </script>
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div id="messages" class="message_holder"></div>
  <form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit"/>
  </form>

  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'my event', {
        data: 'User Connected'
      } )
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'input.username' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', {
          user_name : user_name,
          message : user_input
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )
    socket.on( 'my response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
      }
    })

    document.getElementById("messages").setAttribute("style","overflow:auto;height:90px;width:500px");

  </script>

</body>
</html>
